<div class="container">

  <h2>Share Your Thoughs</h2>
  <hr>

  <div class="write_area">
    <form action="/write" method="POST" id="write_form">
      Title:<br>
      <input type="text" name="title" class="write_fields" placeholder="e.g. Why Cookies Are Awesome"><br>
      Post Body:<br>
      <textarea name="body" class="write_fields" rows="10" placeholder="e.g. Because they are. Period."></textarea><br>
      Tags (separated by commas):<br>
      <input type="text" name="tags" class="write_fields" placeholder="e.g. Cookie, Awesome, Yolo"><br><br>
      <input type="submit" value="Post It">
    </form>
  </div>

  <h2>Recent Posts</h2>
  <hr>

  <div class="display_area">
    <% @all_posts.each do |post|%>
      <div class="single_post">
      <h2 class="post_title"><%= post.title %></h2>
      <p class="post_time"><%= post.created_at %></p>
      <p class="post_tags">Tags: 
        <% post.tags.each do |singletag| %>
          <%= singletag.tag %>,
        <% end %>
      </p>
      <p><%= post.body %></p>
        <br>
      </div>
    <% end %>
  </div>

</div>
